@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic");
.icon {
  background-color: #ecf0fb;
  color: #7680df;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #5468ff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .75rem;
  -webkit-box-shadow: 0px 5px 15px rgba(84, 104, 255, 0.4);
          box-shadow: 0px 5px 15px rgba(84, 104, 255, 0.4);
}

.header {
  height: 100%;
  min-height: 800px;
  width: 100%;
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 30px;
}

.header__hero .col-2 {
  min-height: 800px;
  padding: 30px;
}

.header__hero .col-2:last-child {
  background-image: url("../img/RESUME.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__hero-greeting {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #787878;
}

.header__hero-introducing {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  margin: 0;
}

.header__hero-describing {
  font-size: 17px;
  line-height: 150%;
  color: #5f5f5f;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(46, 54, 123, 0.1);
          box-shadow: 0px 5px 15px rgba(46, 54, 123, 0.1);
  border-radius: 50px;
}

.header__navbar-logo {
  margin: 22px;
}

.header__navbar-menu {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.header__navbar-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.header__navbar-menu ul li {
  padding: 20px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.header__navbar-button {
  text-align: right;
  padding-top: 23px;
}

.services {
  min-height: 800px;
}

.services .col-2:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .col-2:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .col-2:last-child .col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.services__title {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
}

.services__description {
  font-size: 17px;
  line-height: 150%;
  color: #5f5f5f;
}

.services__card {
  width: 305px;
  height: 350px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 45px rgba(46, 54, 123, 0.1);
          box-shadow: 0px 20px 45px rgba(46, 54, 123, 0.1);
  border-radius: 7px;
  margin: 20px;
  padding: 60px 30px;
}

.services__card-title {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
}

.services__card-description {
  font-size: 17px;
  line-height: 150%;
  color: #5f5f5f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  color: #232323;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: auto auto;
}

.col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

a {
  color: #232323;
  text-decoration: none;
}

hr.hr {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 5px;
  background: #5468ff;
  border: 2px solid rgba(84, 104, 255, 0.4);
  border-radius: 3px;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */