html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@font-face {
  font-family: "Mont Demo";
  src: local("Mont Heavy DEMO"), local("Mont-HeavyDEMO"), url("../fonts/Montheavydemo.woff2") format("woff2"), url("../fonts/Montheavydemo.woff") format("woff"), url("../fonts/Montheavydemo.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* ----------------------------------------------
 * * Generated by Animista on 2020-5-15 8:50:10
 * * Licensed under FreeBSD License.
 * * See http://animista.net/license for more info. 
 * * w: http://animista.net, t: @cssanimista
 * * ---------------------------------------------- */
/**
 * * ----------------------------------------
 * * animation slide-top
 * * ---------------------------------------- */
@-webkit-keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
/**
 * * ----------------------------------------
 * * animation slide-right
 * * ---------------------------------------- */
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(84, 104, 255);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  box-shadow: 0px 5px 15px rgba(84, 104, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}
.button:hover {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

#mobile-nav-button {
  position: absolute;
  z-index: 100;
  right: 16px;
  bottom: 16px;
  background-color: rgb(84, 104, 255);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-shadow: 0px 5px 15px rgba(84, 104, 255, 0.4);
}
@media (min-width: 1024px) {
  #mobile-nav-button {
    display: none;
  }
}
#mobile-nav-button button {
  border: 0;
  background: none;
  margin: 10px 8px;
}
#mobile-nav-button button.active {
  transform: rotate(140deg);
  transition: transform 300ms linear;
  top: 12px;
}
#mobile-nav-button button.active::before {
  opacity: 0;
}
#mobile-nav-button button.active::after {
  transform: rotate(90deg);
  transition: transform 300ms linear;
  top: -8px;
}
#mobile-nav-button button, #mobile-nav-button button::after, #mobile-nav-button button::before {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
}
#mobile-nav-button button::before {
  content: "";
  margin-top: 18px;
  transition: transform 300ms linear;
}
#mobile-nav-button button::after {
  content: "";
  margin-top: 8px;
  transition: transform 300ms linear;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: -180px;
  display: flex;
  flex-direction: column-reverse;
}
.header .col-2:first-child {
  display: none;
}
@media (min-width: 1024px) {
  .header .col-2:first-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .header {
    background-position-x: 0px;
  }
}
@media (min-width: 1024px) {
  .header {
    flex-direction: column;
    font-size: 1rem;
    height: 100%;
    min-height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: 50%;
    padding-top: 30px;
  }
}
.header__hero .col-2 {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .header__hero .col-2 {
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .header__hero .col-2 {
    margin-left: auto;
    min-height: 800px;
    padding: 30px;
  }
  .header__hero .col-2:last-child {
    background-image: url("../img/RESUME.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header__hero-greeting {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: rgb(120, 120, 120);
}
.header__hero-introducing {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 1024px) {
  .header__hero-introducing {
    color: #232323;
  }
}
.header__hero-describing {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 16px;
  color: rgb(246, 247, 251) !important;
}
@media (min-width: 1024px) {
  .header__hero-describing {
    color: rgb(95, 95, 95) !important;
  }
}
.header__navbar {
  display: none !important;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  align-content: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .header__navbar {
    display: flex !important;
    position: relative;
    background-color: transparent;
    height: 80px;
    align-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(46, 54, 123, 0.1);
    border-radius: 50px;
  }
}
.header__navbar-logo {
  display: none;
  margin: 22px;
}
@media (min-width: 1024px) {
  .header__navbar-logo {
    display: block;
  }
}
.header__navbar-menu {
  flex-basis: 80%;
}
.header__navbar-menu ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__navbar-menu ul {
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    line-height: 18px;
  }
}
.header__navbar-menu ul li {
  margin-left: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .header__navbar-menu ul li {
    margin: 0;
    padding: 20px;
    align-self: stretch;
  }
}
.header__navbar-menu ul li a {
  color: rgb(246, 247, 251);
}
@media (min-width: 1024px) {
  .header__navbar-menu ul li a {
    color: #232323;
  }
}
.header__navbar-button {
  text-align: right;
  display: none;
}
@media (min-width: 1024px) {
  .header__navbar-button {
    padding-top: 23px;
    display: inline-block;
  }
}

.services {
  min-height: 900px;
  background-image: url("../img/service-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  margin-top: 120px;
}
.services__description {
  margin-bottom: 1rem;
}
.services .wrapper {
  flex-direction: column;
}
@media (min-width: 1024px) {
  .services .wrapper {
    flex-direction: row;
  }
}
.services .col-2 {
  flex-basis: 100%;
}
.services .col-2.leftside, .services .col-2.rightside {
  padding: 1rem;
}
@media (min-width: 768px) {
  .services .col-2:last-child {
    display: flex;
  }
  .services .col-2 .col-2 {
    flex-basis: 50%;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .services .col-2:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
  }
  .services .col-2:first-child:first-child {
    padding-top: 50px;
  }
  .services .col-2:first-child:first-child .services__card {
    -webkit-animation: slide-top 5s infinite alternate both;
            animation: slide-top 5s infinite alternate both;
  }
}
.services__card {
  width: 305px;
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 20px 45px rgba(46, 54, 123, 0.1);
  border-radius: 7px;
  margin: 20px;
  padding: 60px 30px;
  -webkit-animation: slide-top 4s 0.1s infinite alternate both;
          animation: slide-top 4s 0.1s infinite alternate both;
}
.services__card-title {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #232323;
}
.services__card-description {
  font-size: 17px;
  line-height: 150%;
  color: rgb(95, 95, 95);
}

.facts {
  background: rgb(246, 247, 251) url("../img/Background.png");
  background-attachment: fixed;
  min-height: 500px;
  display: flex;
}
@media (min-width: 768px) {
  .facts {
    min-height: 300px;
  }
}
.facts .wrapper {
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .facts .wrapper {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .facts .wrapper {
    justify-content: space-between;
  }
}
.facts__item {
  margin: 1rem;
}
.facts__item-circle {
  background: rgb(246, 247, 251);
  width: 155px;
  height: 155px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgb(118, 128, 223);
  text-align: center;
  cursor: default;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
.facts__item-circle h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 44px;
  line-height: 150%;
  margin: 20px 0 0;
}
.facts__item-circle p {
  font-size: 13px;
  width: 75%;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto;
}
.facts__item-circle:hover {
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  background: rgb(84, 104, 255);
  color: #ffffff;
  box-shadow: 0 0 0 15px rgb(84, 104, 255);
}

.portfolio {
  margin: 150px 0;
}
.portfolio .col-2:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio__image {
  padding: 0 50px 0 0;
}
.portfolio__image img {
  width: 100%;
  box-shadow: 0px 5px 25px rgba(46, 54, 123, 0.1);
  border-radius: 15px;
}
.portfolio__nav {
  width: 305px;
  height: 380px;
  margin: 25px 0;
  padding: 25px 0;
  box-shadow: 0px 10px 45px rgba(46, 54, 123, 0.1);
  border-radius: 12px;
  background-color: #ffffff;
}
.portfolio__nav ul {
  list-style: none;
  padding: 0;
}
.portfolio__nav ul li {
  text-transform: uppercase;
  margin: 7px 0;
}
.portfolio__nav ul li::before {
  content: "|";
  display: inline-block;
  width: 6px;
  height: 37px;
  color: #ffffff;
  vertical-align: middle;
  margin-right: 20px;
}
.portfolio__nav ul li a {
  color: rgb(95, 95, 95);
}
.portfolio__nav ul li.active::before {
  background: rgb(84, 104, 255);
  color: rgb(84, 104, 255);
  border-radius: 2px;
}
.portfolio__nav ul li.active a {
  color: rgb(84, 104, 255);
}

.features {
  margin: 105px 0;
}
.features__description {
  margin-bottom: 1rem;
}
.features .wrapper {
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .features .wrapper {
    flex-direction: row;
  }
}
.features .col-2:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .features .col-2:first-child {
    padding-right: 50px;
  }
}
.features__card {
  box-shadow: 0px 10px 35px rgba(46, 54, 123, 0.1);
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
  cursor: default;
}
@media (min-width: 768px) {
  .features__card:hover {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.15, 0.36, 0.35, 0.64) both;
            animation: slide-right 0.5s cubic-bezier(0.15, 0.36, 0.35, 0.64) both;
  }
}
.features__card-image {
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .features__card-image {
    padding: 1rem;
  }
}
.features__card-text {
  padding-top: 1rem;
}
.features__card-text h4 {
  margin: 0;
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #232323;
}

.stack {
  background-color: rgb(246, 247, 251);
  min-height: 220px;
  display: flex;
  margin-bottom: 100px;
}
.stack .wrapper {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .stack .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.stack__item {
  margin: 2rem 0 1rem;
}
@media (min-width: 768px) {
  .stack__item {
    margin: 0;
  }
}

.contacts {
  margin-bottom: 100px;
}
.contacts__card {
  width: 100%;
  display: flex;
  border: 2px solid #ECECEC;
  box-shadow: 0px 30px 60px rgba(46, 54, 123, 0.1);
  border-radius: 10px;
  padding: 35px 50px;
}
.contacts__card p.text {
  font-size: 22px;
  font-weight: normal;
}
.contacts__card a.email {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 10px;
  color: #232323;
  color: rgb(84, 104, 255);
}
.contacts__card-button {
  text-align: right;
  align-self: center;
}

.bottom .menu, .bottom .social {
  justify-content: center;
}
.bottom .menu ul, .bottom .social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
}
.bottom .menu ul li, .bottom .social ul li {
  padding: 0 40px;
}
.bottom .menu ul li a, .bottom .social ul li a {
  color: rgb(95, 95, 95);
}
.bottom .social {
  margin: 30px auto;
}
.bottom .social ul li {
  padding: 10px;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 3px solid rgb(84, 104, 255);
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.5s ease;
}
.bottom .social ul li:nth-child(3) {
  padding-top: 7px;
}
.bottom .social ul li:nth-child(4) {
  padding-top: 11px;
}
.bottom .social ul li:last-child {
  padding-left: 7px;
}
.bottom .social ul li:hover {
  background-color: rgb(84, 104, 255);
  transition: background-color 0.5s ease;
}
.bottom .social ul li:hover img {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(100deg) brightness(125%) contrast(100%);
}

.footer {
  background-color: rgb(246, 247, 251);
  text-align: center;
  margin: 35px 0 0;
  height: 100px;
  padding: 25px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #232323;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: auto auto;
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: 33.33%;
}

.col-4 {
  flex-basis: 25%;
}

.col-5 {
  flex-basis: 15%;
}

.col-6 {
  flex-basis: 10%;
}

a {
  color: #232323;
  text-decoration: none;
  font-size: 1em;
}

hr.hr {
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 5px;
  background: rgb(84, 104, 255);
  border: 2px solid rgba(84, 104, 255, 0.4);
  border-radius: 3px;
  margin: 10px 0;
}

.title {
  font-family: "Mont Demo";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 10px;
  color: #232323;
}

.text {
  font-size: 17px;
  line-height: 150%;
  color: rgb(95, 95, 95);
  color: rgb(95, 95, 95);
}/*# sourceMappingURL=index.css.map */