.features
  margin: 105px 0
  .col-2:first-child
    @include vertical-centering
    padding-right: 50px
  &__card
    box-shadow: 0px 10px 35px $shadow-block
    border-radius: 10px
    display: flex
    padding: 20px
    margin-bottom: 30px
    cursor: default
    &:hover
      animation: slide-right 0.5s cubic-bezier(0.150, 0.360, 0.350, 0.640) both
    &-image
      padding: 20px
    &-text
      h4
        margin: 0
        @include strong-text