.header
  height: 100%
  min-height: 800px
  width: 100%
  background-image: url('../img/header.jpg')
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: 50%
  padding-top: 30px

  &__hero
    .col-2
      min-height: 800px
      padding: 30px
      &:last-child
        background-image: url('../img/RESUME.png')
        background-repeat: no-repeat
        background-position: bottom left
        background-size: contain
        @include vertical-centering
    &-greeting
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      color: rgba(120, 120, 120, 1)
    &-introducing
      @include h1
      margin: 0
    &-describing
      @include base-text
      color: $faint-strong
  
  &__navbar
    display: flex
    height: 80px
    align-content: space-between
    background-color: $base-weak
    box-shadow: 0px 5px 15px $shadow-block
    border-radius: 50px

    &-logo
      margin: 22px

    &-menu 
      flex-basis: 80%

      ul
        display: flex
        justify-content: center
        list-style: none
        text-transform: uppercase
        font-size: 14px
        line-height: 18px

        li
          padding: 20px
          align-self: stretch

    &-button
      text-align: right
      padding-top: 23px
      
      