//@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic')
@import "vendors/normalize"
@import "utilities/reset"
@import "fonts"
@import "utilities/variables"
@import "utilities/mixins"
@import "utilities/keyframes"
@import "button"
@import "header"
@import "sections/services"
@import "sections/facts"
@import "sections/portfolio"
@import "sections/features"
@import "sections/stack"
@import "sections/contacts"
@import "bottom"
@import "footer"

*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-family: 'PT Sans', sans-serif
  background-color: $base-weak
  color: $base-strong

.wrapper
  display: flex
  width: 100%
  max-width: 1140px
  margin: auto auto

.col-1
  flex-basis: 100%

.col-2
  flex-basis: 50%

.col-3
  flex-basis: 33.33%

.col-4
  flex-basis: 25%

.col-5
  flex-basis: 15%

.col-6
  flex-basis: 10%

a
  color: $base-strong
  text-decoration: none
  font-size: 1em

hr.hr
  display: block
  box-sizing: border-box
  width: 80px
  height: 5px
  background: $accent-strong
  border: 2px solid $accent-weak
  border-radius: 3px
  margin: 10px 0

.title
  @include h2($base-strong)

.text
  @include base-text
  color: $faint-strong
